@model Motionless.Deployment.Admin.Models.EnvironmentViewModel
@{
	ViewBag.Title = "Edit Environment";
}
@using (Html.BeginForm("Edit", "Environment", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	@Html.EditorForModel()
}
<div>
	@Html.ActionLink("Back to List", "Index")
</div>