<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseModelAssemblies" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>
	<connectionStrings>
		<add name="TestConnectionString" connectionString="Data Source=nhibernate.db;Version=3"/>
	</connectionStrings>
	<DatabaseModelAssemblies>
		<add key="Motionless.Data.Persistence.Test" value="Motionless.Data.Persistence.Test" />
	</DatabaseModelAssemblies>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" >
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<!-- Change these to Oracle, Sql2000 etc-->
			<property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
			<property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
			<!--<property name="default_schema">dbo</property>-->
			<!-- Connection string or connection string name -->
			<!--<property name="connection.connection_string">Server=.\SQLEXPRESS;Database=Northwind;Integrated Security=True;</property>-->
			<property name="connection.connection_string_name">TestConnectionString</property>
			<!-- web or thread_static-->
			<property name="current_session_context_class">call</property>
			<!-- Help debugging-->
			<property name="show_sql">true</property>
			<!-- NHibernate 2.1 - 3.2 -->
			<!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>-->
			<!--<property name="query.substitutions">true 1, false 0</property>-->
			<event type="pre-update">
				<listener class="Motionless.Data.Persistence.CreateAndUpdateEventListener, Motionless.Data.Persistence" />
			</event>
			<event type="pre-insert">
				<listener class="Motionless.Data.Persistence.CreateAndUpdateEventListener, Motionless.Data.Persistence" />
			</event>
		</session-factory>
	</hibernate-configuration>
</configuration>