@model Motionless.Deployment.Admin.Models.ServerViewModel
@{
	ViewBag.Title = "Create Server";
}
@using (Html.BeginForm("Create","Server",FormMethod.Post,new {@class = "form-horizontal"})) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	@Html.EditorForModel()
}
<div>
	@Html.ActionLink("Back to List", "Index")
</div>