@model Motionless.Deployment.Admin.Models.BindingViewModel
@{
	ViewBag.Title = "Create Environment";
}
@using (Html.BeginForm("Create", "Binding", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	@Html.EditorForModel()
}
<div>
	@Html.ActionLink("Back to List", "Index")
</div>